name: Build and Release Resource Pack

on:
  push:
    branches:
      - main

jobs:
  build-release:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Create ZIP from repository root
        run: |
          zip -r ressource_pack.zip . \
            -x ".git/*" \
               ".github/*"

      - name: Create or Update GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: latest      
          name: Latest Resource Pack
          files: ressource_pack.zip
